@import "../../default";

@import "../../navbar";

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .3s ease;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 35px;

    .header {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            span {
                color: $secondColor;
            }
        }

        a {
            button {
                height: 40px;
            }
        }
    }

    .details-container {
        flex: 1;
        display: grid;
        grid-template-columns: 50px 40px 1fr 50px;
        row-gap: 5px;
        margin: 15px 15px;

        h2 {
            grid-column: 2/4
        }

        p {
            grid-column: 3/4;
            color: black;
            font-weight: 700;
            margin-bottom: 40px;

            &::before {
                content: '';
                display: inline-block;
                width: 15px;
            }
        }
    }
}